/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-abr-2016, 8:42:40
    Author     : dam102
*/

/*
 *
 *
 *
 */


//------------------- LAYOUT ---------------------------------------------------
body, html {

  margin: 0px;
}

#wrapper {

  max-width: 75%;
  background-color: wheat;
  margin: 0 auto;
}


//--------------------- ELEMENTOS ----------------------------------------------

subasta {
  width: 75%;
  
}

#header {
   text-align: center;
   display: block;
   padding-top: 25px;
    
}
.lote {

  display: block;
  text-align: center;
  
}

.lote p {
    
    font-size: 20px;
    
}
.lote_img {

  max-width: 75%;
  position: relative;
  margin: 35px auto;
  border: 2px solid white;
  display: block;
}

#imagenArticle {

  margin: 0 auto;
}

h1 {
    
    font-size: 25px;
    margin-top: 0px;
    
}

.titulo_lote {
    border: 3px solid white;
    margin: 45px auto;
    width: 75%;
    text-align: center;
    border-radius: 35px;
    background-color: red;
    
}




