/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-abr-2016, 8:42:40
    Author     : dam102
*/

/*
 *
 *
 *
 */


//------------------- LAYOUT --------------------------------
body {
    
    margin: 0px;
    
}

#wrapper {
    
    max-width: 75%;
    background-color: wheat;
    margin: 0 auto;
    
}



subasta {
    
    width: 75%;
    border: 2px solid blue;
    
    
}

.lote p {
    
    display: block;
    
}

.lote_img {
    
    max-width: 50%;
    
    
}

